html {
  font-size: 62.5%;
}

body {
  -webkit-user-modify: read-only;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#e66465, #9198e5);
  background-attachment: fixed;
  background-size: cover;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 20%;
}

.logo {
  margin-left: 128px;
  width: 193px;
  height: 97px;
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-right: 128px;
}

li {
  display: inline;
  margin-left: 51px;
  color: white;
  font-size: 4rem;
  font-weight: 300;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.heading,
.smaller-heading,
.sign-up {
  font-weight: 300;
  margin: 20px 0;
  margin-left: 128px;
}

.heading {
  font-size: 6rem;
}

.smaller-heading {
  color: white;
  font-size: 4.8rem;
}

.sign-up {
  background: none;
  border: 2px solid black;
  font-size: 3.6rem;
  padding: 14px 40px;
  z-index: 1;
  cursor: pointer;
}

.background {
  position: absolute;
  left: 70%;
  background: #3a3a3a;
  height: 429px;
  border-radius: 5%;
}

.preview {
  width: 429px;
  height: 429px;
}

@media (max-width: 1440px) {
  .background {
    height: 300px;
    width: 300px;
  }
  .preview {
    width: 300px;
    height: 300px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper { /* set position to flex to display the login screen */
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* display: flex; */ 
  flex-direction: column;
  backdrop-filter: blur(7px);
}

form {
  margin: auto;
  height: 50%;
  width: 30%;
  background: transparent;
  border: 1px solid black;
  border-radius: 20px;
}

.container-wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.container-wrapper h2 {
  margin: 0;
  padding: 0;
  padding-left: 40px;
  padding-top: 40px;
  font-size: 48px;
}

.container-wrapper .form-text{
  margin: 0;
  padding: 0;
  font-size: 36px;
  padding-left: 40px;
  margin-top: 20px;
}

.container-wrapper input{
  background: none;
  border: 1px solid black;
  width: 80%;
  margin-left: 40px;
  font-size: 32px;
  margin-top: 10px;
}

.container-wrapper input::placeholder{
  color: black;
  font-size: 32px;
}

.container-wrapper button {
  font-size: 32px;
  width: 20%;
  background: none;
  border: 1px solid black;
  margin-left: 40px;
  margin-top: 50px;
  cursor: pointer;
}

form input:focus{
  outline: none;
}

.signup-text{
  font-size: 16px;
  margin-left: 40px;
}

.underline{
  text-decoration: underline;
}

nav button{
  color: white;
  font-weight: 300;
}