{% extends "layout.html" %}

{% block title %}
  Home
{% endblock %}

{% block main %}

  <link rel="stylesheet" href="../static/index.css" />

  <article>
    <div class="article-text">
      <h1 class="heading">Your Budgeting</h1>
      <h2 class="smaller-heading">Begin Your Budgeting Adventure</h2>
      <a class="sign-up" href="{{url_for('auth.signUp')}}">
        Get Started
      </a>
    </div>
    <div class="background">
      <img
        src="../static/preview.png"
        alt="Not enough budget!"
        class="preview"
      />
    </div>
  </article>
{% endblock %}