{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <link rel="stylesheet" href="../static/index.css" />
    <article>
      <div class="article-text">
        <h1 class="heading">Your Budgeting</h1>
        <h2 class="smaller-heading">Begin Your Budgeting Adventure</h2>
        <button class="sign-up" onclick="location.href='#';">
          <!--Flask URL-->
          Get Started
        </button>
      </div>
      <div class="background">
        <img
          src="../static/preview.png"
          alt="Not enough budget!"
          class="preview"
        />
      </div>
    </article>
    <div class="wrapper">
      <form>
        <div class="container-wrapper">
          <h2>Login</h2>
          <div class="form-component">
            <p class="form-text">Email</p>
            <input
              type="text"
              name="email"
              placeholder="Enter your email"
              class="form-control"
              required
            />
          </div>
          <div class="form-component">
            <p class="form-text">Password</p>
            <input
              type="text"
              name="password"
              placeholder="Enter your password"
              class="form-control"
              required
            />
          </div>
          <button type="submit">Login</button>
          <p class="signup-text">Make an <a href="signup1.html"><span class="underline">account</span></a></p>
        </div>
      </form>
    </div>
{% endblock %}