body {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#e66465, #9198e5);
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 20%;
  z-index: 1;
}

.logo {
  margin-left: 128px;
  width: 193px;
  height: 97px;
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-right: 128px;
}

li {
  display: inline;
  margin-left: 51px;
  color: white;
  font-size: 40px;
  font-weight: 300;
}

article {
  position: absolute;
  top: 20%;
  left: 0;
  display: flex;
  width: 100%;
  height: 80%;
  justify-content: center;
}

.text {
  width: 60%;
}

.text p {
  text-align: center;
  line-height: 70px;
  font-size: 26px;
  font-weight: 300;
}

.text span {
  font-weight: bold;
  text-decoration: underline;
}

a {
  color: inherit;
  text-decoration: none;
}
