<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/aboutus.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poller+One&family=Prata&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>About Us</title>
  </head>
  <body>
    <nav>
      <img
        src="../static/logo.png"
        alt="Not enough budget!"
        class="logo"
        onclick="location.href='index.html';"
      /> <!--Flask URL-->
      <div class="navbar-text">
        <ul>
          <li><a href="#">Dashboard</a></li> <!--Flask URL-->
          <li><a href="aboutus.html">About Us</a></li> <!--Flask URL--> 
          <li><a href="#">Login</a></li> <!--Flask URL-->
        </ul>
      </div>
    </nav>
    <article>
      <div class="text">
        <p>
          Budgeting Made Simple (BMS) is a user-friendly budgeting app designed
          specifically for first-generation families in New York to manage their
          finances effectively. BMS has budgeting features giving the individual
          a plan to handle their spendings. Users can customize the percentages
          given to each category, such as retirement, living expenses, savings,
          and more! BMS has a tax calculator that gives a
          <span>rough</span> estimate of their remaining income after tax. The
          tax calculations we created are more accurate for families with an
          income less than $100,000 per year in New York. As the income
          increases above $100,000 or you’re outside of New York, the tax
          calculation becomes less accurate. When using this app, please give
          the tax calculation a <span>10% margin of error</span> regardless of your income.
        </p>
      </div>
    </article>
  </body>
</html>
