<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/aboutus.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poller+One&family=Prata&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>About Us</title>
  </head>
  <body>
    <nav>
      <a href="/">
        <img
        src="../static/logo.png"
        alt="Not enough budget!"
        class="logo"/>
      </a> <!--Flask URL-->
      <div class="navbar-text">
        <ul>
          <li><a href="#">Dashboard</a></li> <!--Flask URL-->
          <li><a href="/aboutUs">About Us</a></li> <!--Flask URL--> 
          <li><a href="#">Login</a></li> <!--Flask URL-->
        </ul>
      </div>
    </nav>
    {% block main %} {% endblock %}
   </body>
</html>